@import url(assets/fontawesome/css/all.css );
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined:wght@700&family=VT323&display=swap');
/* remove user agent stylesheet */
* {
  margin: 0;
  padding: 0;
  /* always do this */
  box-sizing: border-box;
}

body {
  font-family: monospace;
  width: 100vw;
  height: 100vh;
}
/* padding to block elements */
footer {
  position: sticky;
  bottom: 0px;
  width: 100%;
}
footer ul {
  list-style: none;
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

footer ul li {
  padding: 30px;
}

footer ul li a {
  font-size: 20pt;
  color: white;
}


.projects {
  list-style: none;
  display: flex;
}

main {
  align-content: center;
  padding: 30px;
  margin: 100px;
  text-align: justify;
}

h1 {
  margin-bottom: 10px;
}
header {
  background-color: black;
}

.projects li {
  padding: 16px;
  color: white;

}

.projects li a {
  text-decoration: none;
  color: white;
}

.highlight {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  opacity: 100%;
  pointer-events: none;
  backdrop-filter: invert();
  left: 0;
  z-index: 1;
  display: block;
}
